In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('train.csv')
td=pd.read_csv('test.csv')

print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [3]:
age_table = df.groupby(["Pclass", "Sex"])["Age"].median()
age_table

test_table= td.groupby(["Pclass", "Sex"])["Age"].median()
test_table

Pclass  Sex
1       female    41.0
        male      42.0
2       female    24.0
        male      28.0
3       female    22.0
        male      24.0
Name: Age, dtype: float64

In [6]:
def fill_age_train(row):
    if pd.isnull(row["Age"]):
        return age_table.loc[row["Pclass"], row["Sex"]]
    return row["Age"]

def fill_age_test(row):
    if pd.isnull(row["Age"]):
        return test_table.loc[row["Pclass"], row["Sex"]]
    return row["Age"]

In [7]:
df["Age"] = df.apply(fill_age_train, axis=1)
td["Age"] = td.apply(fill_age_test, axis=1)

In [8]:
print(df["Age"].isnull().sum())
print(td["Age"].isnull().sum())

0
0

In [9]:
df["Cabin"].fillna("Unknown", inplace=True)
td["Cabin"].fillna("Unknown", inplace=True)

In [10]:
df["Embarked"].fillna("Unknown", inplace=True)
td["Embarked"].fillna("Unknown", inplace=True)

In [11]:
df.to_csv('cleaned_train.csv', index=False)
td.to_csv('cleaned_test.csv', index=False)